## The main gitignore. Put gitignore files in a subdirectory to inherit/overwrite.

## ignore all target directories, recursively.
target/
!.mvn/wrapper/maven-wrapper.jar
## do not ignore .gitignore file (or folder) in the current directory!
!/.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.eclipse

### IntelliJ IDEA ###
## all files and folders named .idea , recursively.
production/
out
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#### JSF frontend stuff
.sass-cache

### user specific resources:
/*/resources/application-user-*.properties
/*/resources/application-user-*.yml

### General ###
## osx garbage in any directory
**/.DS_Store
## .gitignore files and folders below one directory level, recursively.
/*/.gitignore
Thumbs.db
*.log
